<footer class="app-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h4>Đậu Hũ Thúi Nhà Họ La</h4>
                <p>Ẩm thực đường phố Đài Loan chính gốc.</p>
            </div>

            <div class="col-md-4">
                <h5>Liên hệ</h5>
                <p>📍 Hồ Chí Minh </p>
                <p>📞 090xxxxxxx</p>
                <p>✉️ foodorder@gmail.com</p>
            </div>

            <div class="col-md-4">
                <h5>Giờ mở cửa</h5>
                <p>14:30 - 21:40</p>
                <p>Thứ 3 - Chủ nhật hàng tuần</p>
            </div>

        </div>
    </div>
</footer>